<div class="row animated fadeIn">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <dx-data-grid id="gridEntidades1" [dataSource]="listaPerfiles" showBorders="true" [rowAlternationEnabled]="true" [columnHidingEnabled]="true" [columnAutoWidth]="true" keyExpr="PerfilId" (onRowInserting)="adicionarPerfil($event)" (onRowUpdated)="actualizarPerfil($event)"
                        (onRowRemoving)="eliminarPerfil($event)">
                        <dxo-export [enabled]="true" fileName="Perfiles Registrados en el Sistema"></dxo-export>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-grouping [contextMenuEnabled]="true" expandMode="rowClick"></dxo-grouping>
                        <dxo-group-panel [visible]="true" emptyPanelText="Use el contexto de menu de los encabezados de columnas para agrupar datos"></dxo-group-panel>
                        <dxo-search-panel [visible]="true" [width]="240" placeholder="Buscar..."></dxo-search-panel>
                        <dxo-remote-operations [sorting]="true" [paging]="true">
                        </dxo-remote-operations>
                        <!-- <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing> -->
                        <dxo-column-chooser [enabled]="true" mode="select"></dxo-column-chooser>

                        <dxo-editing mode="form" [allowAdding]="true" [allowDeleting]="true" [allowUpdating]="true">
                            <dxo-texts addRow="Nuevo"></dxo-texts>
                        </dxo-editing>
                        <dxi-column dataField="PerfilId" [allowEditing]="false" caption="ID">
                        </dxi-column>
                        <dxi-column dataField="PerfilNombre" caption="Nombre">
                        </dxi-column>
                        <!-- <dxi-column dataField="PerfilTipo" caption="Descripción">
                        </dxi-column> -->
                        <dxi-column dataField="PerfilHabilitado" caption="Perfil Habilitado">
                        </dxi-column>
                        <dxi-column dataField="GestionaActores" caption="Gestiona Agentes">
                        </dxi-column>
                        <dxi-column dataField="GestionaEntidades" caption="Gestiona Entidades">
                        </dxi-column>
                        <dxi-column dataField="GestionaAgrupaciones" caption="Gestiona Agrupaciones">
                        </dxi-column>
                        <!-- <dxi-column dataField="longitudValor" caption="Longitud Valor">
                        </dxi-column>
                        <dxi-column dataField="tipoDatos" caption="Tipo Datos">
                        </dxi-column>
                        <dxi-column dataField="estado" caption="Estado">
                        </dxi-column>
                        <dxi-column dataField="usuarioCreacion" caption="usuario Creacion">
                        </dxi-column>
                        <dxi-column dataField="fechaIniVigencia" caption="Vigencia Inicial">
                        </dxi-column>
                        <dxi-column dataField="fechaFinVigencia" caption="Vigencia Final">
                        </dxi-column>
                        <dxi-column dataField="fechaCreacion" caption="Fecha Creación">
                        </dxi-column>
                        <dxi-column dataField="fechaModificacion" caption="Fecha Modificación">
                        </dxi-column> -->




                        <!-- <div *dxTemplate="let d of 'accionCellTemplate'"> -->
                        <!--<div>
                             <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document" placement="right" ngbTooltip="Seleccionar" (click)="showPanel('U', d.data.PersonaId)"></i> 
                            <i style="font-size:20px; cursor:pointer;" class="icofont icofont-law-document" placement="right" ngbTooltip="Actualizar" (click)="showPanel('U', d.data.PersonaId)"></i>

                        </div>-->

                        <!-- -->
                        <!-- <div class="internal-grid-container">
                                <div> -->
                        <!-- <h1><i ngbTooltip="Seleccionar" (click)="showPanel('U', d.data.PersonaId)"></i></h1> -->
                        <!-- <button type="button" (click)="showPanel('U', d.data.idTipoReferencia)" class="btn btn-success m-b-0">Actualizar</button> -->
                        <!-- </div>
                            </div>

                        </div> -->
                        <!-- <dxo-summary>
                            <dxi-total-item column="PerfilId" summaryType="count" displayFormat="Cantidad: {0}">
                            </dxi-total-item>
                        </dxo-summary> -->

                        <dxo-paging [pageSize]="10"></dxo-paging>
                        <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 40]" [visible]="true" [showInfo]="true" [showNavigationButtons]="true"></dxo-pager>

                    </dx-data-grid>
                </div>

            </div>
        </div>
    </div>
</div>