<div class="sidebar-fixed topnav-fixed">

    <div id="wrapper" class="wrapper" style="background-color: #fff;">
        <!-- GOV:CO -->
        <!-- GOV:CO -->
        <header class="he_header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-sm-2 col-4 he_logo">
                        <a href="https://www.gov.co">
                            <img src="../assets/images/front/logos/logo_header.png" alt="logo">
                        </a>
                    </div>
                    <div class="col-lg-11 col-sm-10 col-8 he_menu">
                        <div class="row">
                            <div class="col-lg-6 col-md-5">
                                <p class="screen-lg">El Estado no tiene porqué ser aburrido ¡conoce a gov.co!</p>
                                <p class="screen-md">¿Sabes que es GOV.CO?</p>
                                <p class="screen-sm">¿Sabes que es GOV.CO? Conócelo aquí</p>
                            </div>
                            <div class="col-lg-6 col-md-7">
                                <ul class="nav">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="https://www.gov.co/tramites-y-servicios" target="_blank">Trámites y servicios</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.gov.co/participacion" target="_blank">Participación</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="https://www.gov.co/informacion" target="_blank">Entidades</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <div class="row">
            <div class="col-10 m-2">
                <a [routerLink]="['/login']">
                    <button class="btn btn-primary my-2 my-sm-0 m-1 float-right" type="submit">Ingresar al Sistema</button>
                </a>
            </div>
        </div>
    </div>
</div>